:root {
  --luigigreen: #4cbb17;
  --placeholder-color: grey;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.fa {
  padding: 5px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 4px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-motorcycle:hover{
  opacity: 1;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #f40083;
  color: white;
}

.navbar-brand {
    font-family: 'Brush Script MT';
}

.luigi, h1 {
  color: var(--luigigreen);
}

#italianred {
  color: red;
}

/*notwendig um gleichmäßigen ausschnitt von unterschiedlich großen bildern in slideshow festzulegen*/
.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.card-img-top {
  height: 350px;
  object-fit: cover;
}

.footer {
  font-family: sans-serif;
  text-align: center;
  border-top: 1px solid grey;
}
  
#orderbox {
  display: flex; justify-content: flex-end;
}

.delivery-brand, .delivery-brand:hover {
  color:orangered; 
  text-decoration: none;
}

#order h1 {
  color: orangered;
}

h2 {
  font-family: 'Brush Script MT';

}

h3 {
  font-size: 1.2rem;
}

#cartButton{
  display: none;
}

/*pfeile von accordion ansteuern und weiß machen (statt schwarz)*/
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
/*blauen glow von geöffneten accordion feld entfernen*/
.accordion-button:focus {
  box-shadow: none;
}

/*damit der Schriftzug neben dem Logo erst in der Navbar angezeigt wird, wenn genug Platz dafür ist*/
.lieferservice {
  display: none;
}

@media (min-width: 375px) {
  .lieferservice{
    display: inline;
  }
}

/*damit die überschriften nicht unter der navbar verschwinden wenn sie angesteuert werden:*/
#about:before, #products:before {
  display: block;
  content: "";
  height: 210px;
  margin: -210px 0 0;
}

@media (min-width: 576px) {
  #about:before, #products:before {
    display: block;
    content: "";
    height: 60px;
    margin: -60px 0 0;
  }
}

.form-control::placeholder {
  color: var(--placeholder-color);
}