body{
    margin:0;
}

.flex-container-top {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    padding: 8px 16px;
    align-items: stretch;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: stretch;
}

li a{
    display: block;
    color: #000;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

li a:hover {
    background-color: #888;
    color: white;
}

li a.active{
    background-color: #444;
    color: white;
}

#header{
    width: 100%;
}

header{
    font-family: 'Brush Script MT';
    font-size: 26px;
    text-align: center;
}

@media (min-width: 600px) {
    .flex-container-top {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .flex-container-main {
        display: flex;
        

    }
    main{
        flex:70%;
        padding: 8px 16px;
    }

    aside{
        flex:30%;
        padding: 8px 16px;
    }

    ul{
        flex-direction: row;
    }
    li a{
        padding: 8px 16px;
    }   
}
